<div style="color: black;font-family:cursive;">
    <h2 style="color: crimson;text-decoration: underline;font-family: cursive;">Examples of Badges</h2> 
<span style="margin-left: 10%" matBadge="4" matBadgeOverlap="false" matBadgeSize="small" matBadgePosition="above">Messages</span>

    <span style="margin-left: 10%" matBadge="1" matBadgeSize="medium" matBadgeOverlap="false">Notification</span>

<button style="margin-left: 10%" mat-raised-button color="warn"
      matBadge="8" matBadgePosition="after" matBadgeColor="primary" >
    Calls
</button>



</div>
<br>
  <h2 style="color: crimson;text-decoration: underline;">Examples of Button Toggle</h2>
<p>
  <p style="color: brown;">
    Default appearance:
    <mat-button-toggle-group name="fontStyle"  aria-label="Font Style" multiple>
      <mat-button-toggle value="bold">Bold</mat-button-toggle>
      <mat-button-toggle value="italic">Italic</mat-button-toggle>
      <mat-button-toggle value="underline">Underline</mat-button-toggle>
    </mat-button-toggle-group>
  </p>
  
  


<mat-divider></mat-divider>

<mat-chip-list aria-label="Fish selection">
  <mat-chip>One fish</mat-chip>
  <mat-chip>Two fish</mat-chip>
  <mat-chip color="primary" selected>Primary fish</mat-chip>
  <mat-chip color="accent" selected>Accent fish</mat-chip>
   
</mat-chip-list>


