<mat-card style="margin: 10%; background-color: cyan; color: darkblue;">

    <mat-card-title>ID card</mat-card-title>
    <mat-card-subtitle style="color: darkmagenta;">Arun Ithaya</mat-card-subtitle>
    <mat-card-content>
      <p>Name : Arun kumar L</p>
      <p>Age : 26</p>
      <p>Blood Group : AB +ve</p>
      <p>Dept : Mechanical</p>
    </mat-card-content>
    
    <mat-divider style="color: black;"></mat-divider>
    <mat-card-footer style="margin-left: 10%; color: darkred; text-align: 10%;height: fit-content;">
      Address : Vinayagar Kovil Street, Ramanathapuram, Sivagiri, Tenkasi - 627760. 
    </mat-card-footer>
  </mat-card>
  