<mat-toolbar style="background-color:darkcyan;"> 
<mat-toolbar-row class="titlebar">
  <a>My Learning</a>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item ><mat-icon>settings</mat-icon>Settings</button>
    <button mat-menu-item><mat-icon>contacts</mat-icon>Contact us</button>
  </mat-menu>
  
</mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container >
  <mat-sidenav mode="side" opened class="intro">
    <mat-nav-list>
    <a mat-list-item routerLink='dashboard' style="color: black;"><mat-icon>dashboard</mat-icon>
      Dashboard</a>
    <a mat-list-item routerLink='badges' style="color: black;"><mat-icon>badge</mat-icon>Badges</a>
    <a mat-list-item routerLink='card' style="color: black;"><mat-icon>card_giftcard</mat-icon>Card</a>
    <a mat-list-item routerLink='javascript' style="color: black;"><mat-icon>card_giftcard</mat-icon>JS</a>
    
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="background-color:white">
    <p>
    <router-outlet></router-outlet>
  </p>
  </mat-sidenav-content>
</mat-sidenav-container>
<div style="margin-top: 100px; margin-left: 10%;">
  <p>

  
  
  

