<div style="color: black; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <h3 style="font-family:cursive">Topics learned with simple examples :</h3>
<ul style="list-style-type: none;">
    <mat-accordion style="height: 50px;">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>fast_forward</mat-icon>Badges
            </mat-panel-title>
            <mat-panel-description>
                <span style="height:50%;" matBadge="4" matBadgeSize="small" matBadgePosition="after">Messages</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul style="background-color: crimson;list-style-type: disc;">
            <li>Matbadge --- reads the value </li> <li>Matbadge position --- shows the position of badge </li><li> Matbadge size --- shows the size of the badge </li><li>Mat overlap --- means the poition of badges overlap the content</li> 
          </ul>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="height: 50px;">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>fast_forward</mat-icon>Button
            </mat-panel-title>
            <mat-panel-description>
                <button mat-button mat-button color="accent">Login</button>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul style="background-color: crimson; list-style-type: disc;">
            <li>Matbutton --- reads the Button</li> <li> Matbutton colour --- shows the color of button  </li><li>  colours - Primary, warn & accent </li> 
          </ul>
          
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="height: 50px;">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>fast_forward</mat-icon>Cards
            </mat-panel-title>
            <mat-panel-description>
                <p>Example of cards shown in Card  TAB- Click on card to see the profile of Arun Kumar AK</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul style="background-color: crimson;list-style-type: disc;">
            <li>Matcard --- The main Attribute  </li> <li>Matcard title --- shows the title of cards </li><li> Matcard subtitle --- shows the sub-title of cards</li><li>Mat-card content --- Content of the card</li> <li>Mat card Footer --- Footer information of cards are shown in bottom of card </li>
          </ul>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="height: 50px;">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>fast_forward</mat-icon>Checkbox
            </mat-panel-title>
            <mat-panel-description>
                <mat-checkbox style="border-color: black;">Check me!</mat-checkbox><br>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul style="background-color: crimson;list-style-type: disc;">
            <li>Matcheckox --- Show the checkbox in front of name  </li>  </ul>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="height: 50px;">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>fast_forward</mat-icon>Sidenav
            </mat-panel-title>
            <mat-panel-description>
                <p>Example of sidenav shown in left side of my Angular project - Side Navigation bar</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul style="background-color: crimson;list-style-type: disc;">
            <li>Mat-Sidenav-container --- The main Attribute  </li> <li>Mat-sidenav --- shows the navigation </li><li> Mat-nav-list --- List of Navigation menu</li><li>Mat-sidenav content --- Content of sidenav</li> 
          </ul>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="height: 50px;">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>fast_forward</mat-icon>Toolbar
            </mat-panel-title>
            <mat-panel-description>
                <p>Example of Toolbar shown in Top side of my Angular project - Toolbar</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul style="background-color: crimson;list-style-type: disc;">
            <li>Mat-Toolbar --- The main Attribute  </li> <li>Mat-Toolbar-row --- shows the Content of Toolbar </li> 
          </ul>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="height: 50px;">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>fast_forward</mat-icon>Form Field
            </mat-panel-title>
            <mat-panel-description>
                <p><mat-form-field appearance="legacy">
                    <mat-label>Input</mat-label>
                    <input matInput>
                  </mat-form-field></p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul style="background-color: crimson;list-style-type: disc;">
            <li>Mat-Form-Field --- The main Attribute  </li> <li>Mat-Label --- shows the Label of Form </li> <li>Mat-input --- shows the input of Form </li><li>Mat-Select --- shows the Selection option in Form </li> <li>Mat-Option --- shows the Option list in select of Form </li> 
          </ul>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="height: 50px;">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>fast_forward</mat-icon>Paginator
            </mat-panel-title>
            <mat-panel-description>
                <p><mat-paginator [length]="100"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    aria-label="Select page">
      </mat-paginator>
      </p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul style="background-color: crimson;list-style-type: disc;">
            <li>Mat-paginator --- The main Attribute  </li> <li>Length --- Length of total pages </li> <li>Page size --- Items per page </li><li>Pagesizeoption --- Option to choose items in a page </li> <li>Aria label --- shows the Label of select page</li> 
          </ul>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="height: 50px;">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>fast_forward</mat-icon>Progress bar
            </mat-panel-title>
            <mat-panel-description>
                <p>Indeterminate progress bar<mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul style="background-color: crimson;list-style-type: disc;">
            <li>Mat-progress-bar --- The main Attribute  </li> <li>Mode --- Types of progress bar </li> <li>Determinate, Indeterminate, Buffer & Query --- Types of mode available </li> 
          </ul>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="height: 50px;">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>fast_forward</mat-icon>Progress Spinner
            </mat-panel-title>
            <mat-panel-description>
                <p>Loading....<mat-spinner></mat-spinner>
                </p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul style="background-color: crimson;list-style-type: disc;">
            <li>Mat-Spinner --- The main Attribute  </li> <li>Mode --- Types of progress bar </li> <li>Determinate, Indeterminate --- Types of mode available </li> 
          </ul>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="height: 50px;">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>fast_forward</mat-icon>Radio Button
            </mat-panel-title>
            <mat-panel-description>
                <p><mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Option 1</mat-radio-button>
                    <mat-radio-button value="2">Option 2</mat-radio-button>
                  </mat-radio-group>                  
                </p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul style="background-color: crimson;list-style-type: disc;">
            <li>Mat-Radio-Group --- The main Attribute  </li> <li>Mat - radio- button --- Radio button </li> 
        </ul>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="height: 50px;">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>fast_forward</mat-icon>Slide toggle
            </mat-panel-title>
            <mat-panel-description>
                <p><mat-slide-toggle>Accept the terms and condition to continue</mat-slide-toggle>                  
                </p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul style="background-color: crimson;list-style-type: disc;">
            <li>mat-slide-toggle --- The main Attribute  </li>
        </ul>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="height: 50px;">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>fast_forward</mat-icon>Slider
            </mat-panel-title>
            <mat-panel-description>
                <p><mat-slider></mat-slider> Increase the font size                 
                </p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul style="background-color: crimson;list-style-type: disc;">
            <li>mat-slider --- The main Attribute  </li>
        </ul>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="height: 50px;">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>fast_forward</mat-icon>Tabs
            </mat-panel-title>
            <mat-panel-description>
                <p> 
                    <mat-tab-group>
                        <mat-tab label="First"> Content 1 </mat-tab>
                        <mat-tab label="Second"> Content 2 </mat-tab>
                        <mat-tab label="Third"> Content 3 </mat-tab>
                      </mat-tab-group>
                      
                </p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul style="background-color: crimson;list-style-type: disc;">
            <li>mat-tab-group --- The main Attribute  </li><li>mat-tab --- List of tabs and content</li>
        </ul>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion style="height: 50px;">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>fast_forward</mat-icon>Tooltip
            </mat-panel-title>
            <mat-panel-description>
                <p> 
                    <button mat-raised-button
                    matTooltip="Example of Tooltip"
                    aria-label="Button that displays a tooltip when focused or hovered over">
              Hover me
            </button>
            
                </p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul style="background-color: crimson;list-style-type: disc;">
            <li>mat-Tool-tip --- The main Attribute  </li><li>Aria-lable --- Label content</li>
        </ul>
        </mat-expansion-panel>
    </mat-accordion>
  
     
    
    
</ul>
</div>